.g-container {
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 0.5vw;
          column-gap: 0.5vw;
  padding-top: 0.5vw;
}

.g-item {
  position: relative;
  width: 24vw;
  margin-bottom: 1vw;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.g-item:nth-child(1) {
  height: 341px;
  background: #342701;
}

.g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(2) {
  height: 185px;
  background: #21ba24;
}

.g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(3) {
  height: 63px;
  background: #81ef05;
}

.g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(4) {
  height: 66px;
  background: #5545cc;
}

.g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(5) {
  height: 309px;
  background: #2e8ab6;
}

.g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(6) {
  height: 204px;
  background: #f2103e;
}

.g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(7) {
  height: 171px;
  background: #c6905c;
}

.g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(8) {
  height: 224px;
  background: #7cbdcd;
}

.g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(9) {
  height: 323px;
  background: #3f4303;
}

.g-item:nth-child(9)::after {
  content: "9";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(10) {
  height: 70px;
  background: #8e6abd;
}

.g-item:nth-child(10)::after {
  content: "10";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(11) {
  height: 158px;
  background: #45fa6a;
}

.g-item:nth-child(11)::after {
  content: "11";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(12) {
  height: 248px;
  background: #9c316a;
}

.g-item:nth-child(12)::after {
  content: "12";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(13) {
  height: 292px;
  background: #32cb76;
}

.g-item:nth-child(13)::after {
  content: "13";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(14) {
  height: 212px;
  background: #53a7cf;
}

.g-item:nth-child(14)::after {
  content: "14";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(15) {
  height: 260px;
  background: #3fe420;
}

.g-item:nth-child(15)::after {
  content: "15";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(16) {
  height: 173px;
  background: #ce72bc;
}

.g-item:nth-child(16)::after {
  content: "16";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(17) {
  height: 176px;
  background: #349c2a;
}

.g-item:nth-child(17)::after {
  content: "17";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(18) {
  height: 86px;
  background: #32e45c;
}

.g-item:nth-child(18)::after {
  content: "18";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(19) {
  height: 343px;
  background: #cddf50;
}

.g-item:nth-child(19)::after {
  content: "19";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(20) {
  height: 78px;
  background: #0cb3d7;
}

.g-item:nth-child(20)::after {
  content: "20";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(21) {
  height: 107px;
  background: #c75d48;
}

.g-item:nth-child(21)::after {
  content: "21";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(22) {
  height: 225px;
  background: #cb9d8b;
}

.g-item:nth-child(22)::after {
  content: "22";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(23) {
  height: 64px;
  background: #37ebc4;
}

.g-item:nth-child(23)::after {
  content: "23";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(24) {
  height: 277px;
  background: #9ff56a;
}

.g-item:nth-child(24)::after {
  content: "24";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(25) {
  height: 173px;
  background: #d585d1;
}

.g-item:nth-child(25)::after {
  content: "25";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(26) {
  height: 188px;
  background: #4f5f93;
}

.g-item:nth-child(26)::after {
  content: "26";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(27) {
  height: 68px;
  background: #51aa41;
}

.g-item:nth-child(27)::after {
  content: "27";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(28) {
  height: 197px;
  background: #1a4cea;
}

.g-item:nth-child(28)::after {
  content: "28";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(29) {
  height: 227px;
  background: #c26e4e;
}

.g-item:nth-child(29)::after {
  content: "29";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(30) {
  height: 340px;
  background: #ce2259;
}

.g-item:nth-child(30)::after {
  content: "30";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(31) {
  height: 75px;
  background: #bb6fe2;
}

.g-item:nth-child(31)::after {
  content: "31";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-item:nth-child(32) {
  height: 273px;
  background: #c4df24;
}

.g-item:nth-child(32)::after {
  content: "32";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=fallwater.css.map */