.tablecloth {
    background: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0),
    linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0);
    background-size: 30px 30px;
    height: 100px;
    width: 100px;
}


.bias {
    background: white;
    background-image: linear-gradient(45deg, green 25%, yellow 0, yellow 50%, green 0, green 75%, yellow 0);
    /* linear-gradient( rgba(200,0,0,.5) 50%,transparent 0); */
    background-size: 30px 30px;
    width: 300px;
    height: 300px;
}


.tangshi {
    background: navy;
    background-image: linear-gradient(45deg,
    rgba(0, 153, 68, .5) 0, rgba(0, 153, 68, .5) 25%, transparent 25%, transparent 50%,
    rgba(0, 153, 68, .5) 50%, rgba(0, 153, 68, .5) 75%, transparent 75%, transparent
    );
    background-size: 50px 50px;
    width: 300px;
    height: 300px;
}

.stripes60 {
    width: 200px;
    height: 200px;
    background-color: #fff;
    background-image: repeating-linear-gradient(60deg, rgb(164, 226, 93) 0, rgba(164, 226, 93) 5%, rgba(244, 208, 63) 0, rgba(244, 208, 63) 10%);
}


/* ⾼斯模糊 */
.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

/* 灰度 */
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* 褐⾊ */
.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

/* 饱和度 */
.saturate {
    -webkit-filter: saturate(5);
    filter: saturate(5);
}

/* ⾊相旋转 */
.hue-rotate {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

/* 反⾊ */
.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

/* 透明度 */
.opacity {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
}

/* 亮度 */
.brightness {
    -webkit-filter: brightness(2);
    filter: brightness(2);
}

/* 对⽐度 */
.contrast {
    -webkit-filter: contrast(0.5);
    filter: contrast(0.5);
}

/* 阴影 */
.drop-shadow {
    -webkit-filter: drop-shadow(10px 10px 5px #333);
    filter: drop-shadow(10px 10px 5px #333);
}

