/* 响应式布局 */
/* ⼿机端样式 */
@media screen and (max-width: 767px) {
    .header-box {
        width: 90%;
        position: relative;
    }

    .logo {
        min-width: 160px;
        margin-right: 2rem;
    }

    .login-box {
        padding: 0 2rem;
        font-size: 1.5rem;
    }

    .content {
        width: 90%;
    }

    .list-item {
        padding: 0 1.5rem;
    }

    /* 内容⼀ */
    .content-box1-text {
        min-width: 90%;
    }

    /* 内容⼆ */
    .content-box2 {
        height: 900px;
        flex-wrap: wrap;
        width: 100%;
    }

    .content-box2-text {
        width: 90%;
        margin: 0 auto;
    }

    /* 内容三 */
    .content-box3 {
        justify-content: space-around;
    }

    .main-nav-item {
        display: none;
        position: absolute;
        width: 10rem;
        right: 0;
        top: 8rem;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .nav-main-list {
        width: 100%;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .list-item {
        width: 100%;
        margin: 0 1rem;
        border-bottom: 1px solid #eeeeee;
    }

    .phone-show {
        display: block;
        height: 60px;
        width: 60px;
    }

    .nav-btn {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-btn span {
        display: inline-block;
        height: 10px;
        width: 60px;
        background: coral;
    }

    @media screen and (max-width: 414px) {
        .content-box1-img {
            min-width: 100%;
        }
    }

    @media screen and (max-width: 375px) {
        .logo {
            min-width: 100px;
            min-height: 40px;
            margin-right: 1rem;
            font-size: 3rem;
        }

        .login-box {
            padding: 0 1rem;
        }

        .phone-show {
            height: 40px;
            width: 40px;
        }

        .nav-btn span {
            width: 40px;
            height: 5px;
        }

        .list-item {
            font-size: 1.5rem;
        }

        .content {
            padding: 4rem 0;
        }

        .content-box2-text {
            min-width: 100%;
        }
    }
}